.Home__search {
  max-width: 300px;
}

.Home__description {
  font-size: 14px;
}

.Home__song-item {
  border-left: 2px solid #ffb400;
  margin: 10px 0;
  padding-left: 10px;
}

.Home__youtube-song-item__image {
  width: 100%;
  height: auto;
}

.Home__youtube-song-item {
  margin-bottom: 5px;
}

.Home__artist-item {
  border-left: 2px solid #ffb400;
  margin: 5px 0;
  padding-left: 10px;
}